.lateral-menu {
    position: fixed;
    float: left;
    height: 100%;
    width: 12%;
    background-color: #1a202c;
    box-shadow: 0 0 20px 2px;
  }
  .container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .logo img{
    width: 5rem;
    height: 5rem;
  }
  .options {
    text-align: center;
    margin-top: 2rem;
  }
  span {
    color: yellow;
  }
  .options li {
    margin: 1rem;
    transform: translateY(-1rem);
  }
  .options a {
    color: white;
  }
  .title-added {
    transform: translateY(-0.2rem);
   color: yellow;
   text-align: center;
  }
  .added-songs {
   color: white;
   text-align: center;
   overflow: scroll;
   overflow-x: hidden;
   height: 21.8%;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  